
/* Google Fonts: Barlow, Barlow Condensed, and Bellefair */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg {
  background-image: url('./assets/home/background-home-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.destination-bg {
  background-image: url('./assets/destination/background-destination-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.crew-bg {
  background-image: url('./assets/crew/background-crew-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.technology-bg {
  background-image: url('./assets//technology/background-technology-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* Tablet size styling */
@media (min-width: 767px) {
  .home-bg {
    background-image: url('./assets/home/background-home-tablet.jpg');
  }

  .destination-bg {
    background-image: url('./assets/destination/background-destination-tablet.jpg');
  }

  .crew-bg {
    background-image: url('./assets/crew/background-crew-tablet.jpg');
  }

  .technology-bg {
    background-image: url('./assets/technology/background-technology-tablet.jpg');
  }
}

/* Desktop size styling */
@media (min-width: 1024px) {
  .home-bg {
    background-image: url('./assets/home/background-home-desktop.jpg');
  }

  .destination-bg {
    background-image: url('./assets/destination/background-destination-desktop.jpg');
  }

  .crew-bg {
    background-image: url('./assets/crew/background-crew-desktop.jpg');
  }

  .technology-bg {
    background-image: url('./assets/technology/background-technology-desktop.jpg');    
  }
}

/* Active class for Destination */

.dest-option {
  @apply cursor-pointer hover:underline hover:underline-offset-8
}

.dest-active {
  @apply underline underline-offset-8
}

/* Active class for Crew */

.crew-option {
  @apply w-3 h-3 bg-gray-600 rounded-full cursor-pointer hover:bg-white duration-300 ease-out
}

.crew-active {
  @apply bg-white
}

/* Active class for Technology */

.tech-option {
  @apply w-12 h-12 text-xl rounded-full border flex items-center justify-center cursor-pointer border-[#ffffff40]
  hover:bg-white hover:text-black duration-300
}

.tech-active {
@apply bg-white text-black
}